Source: device-boneblack-emmc
Section: unknown
Priority: extra
Maintainer: Bill Gatliff <bgat@saturn>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: device-boneblack-emmc
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
